body {
    background: #fff;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
}

.js-hide {
    visibility: hidden;
}

.check-your-refund {
    display: flex;
    flex-direction: column;
    justify-items: self-start;
    padding: 50px;
    @media only screen and (max-width: 720px) {
        padding: 0;
    }
    
    h1 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 40px;
        text-transform: capitalize;
    }
    .input-box-holder {
        label {
            font-size: 16px;
        }
    }

    .refund-footer {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .check-box-message {
            min-height: 50px;
            span {
                font-size: 18px;
                color: mediumslateblue
            }
        }

        .try-it-free {
            button {
                margin: 0;
                padding-bottom: 30px;
                padding-left: 36px;
                padding-right: 36px;
                padding-top: 27px;
                width: 100%;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: #5e6ffc;
                border: 0;
                border-radius: 2px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-family: 'Caros Soft',Arial,Helvetica,sans-serif;
                flex-shrink: 0;
                font-weight: 700;
                font-size: 18px;;
                outline: 0;
                position: relative;
                transition: all .2s ease-in-out;
                text-transform: capitalize;

                &:hover {
                    background-color: #121633;
                }
            }
        }
    }
}



/* Checkbox styles */

input[type=checkbox] + label {
    display: flex;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    line-height: 25px;
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: text-bottom;
    color: transparent;
    transition: .2s;
    margin-right: 0.5em;
  }
  
  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }
  
  input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
  }
  
  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }